/* -------------------------------------------------------------------------
      # Navbar - Section 
      -------------------------------------------------------------------------*/

.navbar .navbar-nav li a {
  font-size: 0.9rem;
}
.navbar-transparent {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 80%;
  margin: 0 0 0 10%;
}

.navSearchButton {
  padding-left: 0.5rem;
  margin-top: 0.7rem;
}

.menu-toggle-btn {
  height: 32px;
  width: 32px;
}

.navbar-toggler {
  border: none;
}

@media (max-width: 768px) {
  .navbar-transparent {
    width: 85%;
  }
}

/* -------------------------------------------------------------------------
      # Carousel
      -------------------------------------------------------------------------*/

.header-carousel {
  position: relative;
  z-index: 1;
}

.slider-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 0;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000000;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  /* opacity: .5; */
  transition: opacity 0.6s ease;
  border-radius: 100%;
}

.carousel-indicators .active {
  background-color: #ffffff;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 530px;
  overflow: hidden;
}

.slider-img {
  width: 100%;
}

.slider-container {
  height: 530px;
  overflow: hidden;
}
.nav-text {
  color: var(--neutral-neutral-300, #d1d5db);
  /* Body/14px: Regular */
  font-size: 14px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.nav-text:hover {
  color: var(--neutral-neutral-300, #d1d5db);
  /* Body/14px: Regular */
  font-size: 14px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.nav-text:visited {
  color: var(--neutral-neutral-300, #d1d5db);
  /* Body/14px: Regular */
  font-size: 14px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.banner-text {
  position: absolute;
  z-index: 2;
  color: var(--neutral-neutral-50, #f9fafb);

  /* Header/54px: Regular */
  font-size: 54px;
  font-family: Kugile;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
}

@media (max-width: 768px) {
  .ab-logo {
    height: 32px;
    width: 30px;
  }
  .aw-logo {
    height: 22px;
    width: 95px;
  }
  .carousel-indicators {
    display: none;
  }
  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 486px;
    overflow: hidden;
  }

  .slider1 {
    width: auto;
    height: 486px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }
  .banner-text {
    position: absolute;
    z-index: 2;
    color: var(--neutral-neutral-50, #f9fafb);
    text-align: center;

    /* Header/44px: Regular */
    font-size: 44px;
    font-family: Kugile;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
  }
}
/* -------------------------------------------------------------------------
      # Form2 - Section
      -------------------------------------------------------------------------*/

.form2-bg-container {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  height: 90vh;
  background-attachment: scroll;
  background: url(assets/form2-bg.png) no-repeat center center;
  background-size: contain;
  /* background: #000; */
}

.form2-container {
  position: absolute;
  top: 10px;
  right: 15px;
  bottom: 10px;
  width: 48%;
  padding: 50px;
  background: rgba(255, 255, 255, 0.96);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}
.form2-container h2 {
  margin-top: 0;
}
.form2-group {
  margin-bottom: 8%;
}
/* .form2-group label {
        display: block;
        font-weight: bold;
      } */
.form2-group input,
.form2-group select {
  width: 100%;
  /* padding: 5px; */
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
.form2-group input[type="text"],
.form2-group input[type="email"],
.form2-group select[required] {
  color: var(--neutral-neutral-300, #a7a8a9);
}
.form2-group span.required {
  color: rgb(44, 44, 44);
  font-weight: bold;
}
.form2-btn {
  justify-content: center;
  border-radius: 4px;
  color: var(--neutral-neutral-0, #fff);
  display: flex;
  padding: 10px 55px;
  font-family: Red Hat Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(
    --button-gradient,
    linear-gradient(90deg, #ac5821 0%, #e1722a 100%)
  );
}

.form2-group input:focus,
.form2-group select:focus {
  outline: none;
}
.button-form2 {
  text-align: center;
  /* float: right; */
}
.form2-bg {
  background-color: #f8f8f8;
  padding: 5px 0;
}

@media screen and (max-width: 1200px) {
  .form2-container {
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 60px;
    width: 35%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.96);
    backdrop-filter: blur(5px);
    border-radius: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .form2-bg {
    padding: 2px 0;
  }
  .form2-bg-container {
    margin-bottom: 35vh;
  }
  .form2-container {
    right: 0;
    position: relative;
    padding: 20px;
  }
  .form2-container:before {
    content: "";
    display: block;
    height: 275px;
    width: 100%;
    background: url(assets/form2-bg.png) no-repeat center center;
    border-radius: 5px;
    background-size: cover;
  }
  .form2-bg-container {
    background-image: none;
  }
  .form2-btn {
    text-align: center;
    padding: 10px 83px;
  }
  .form-box-cont {
    background: rgba(255, 255, 255, 0.96);
  }

  .form2-container {
    width: 100%;
  }
  .form-col {
    flex: none;
  }
}

/* -------------------------------------------------------------------------
      # Footer - Section
      -------------------------------------------------------------------------*/

.footer {
  background: #1e1916;
  color: #d9d9d9;
  font-family: "Red Hat Display", sans-serif;
}
.footer-main {
  padding: 20px;
}

.footer-logo1 {
  margin-right: 10px;
}

.footer-column {
  margin-bottom: 20px;
}

.footer-description {
  margin-top: 24px;
}
.footer-description {
  margin-top: 24px;
  color: var(--neutral-neutral-300, #d1d5db);

  /* Body/12px: Regular */
  font-family: Red Hat Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.footer-social-icons {
  margin-top: 10px;
}
.footer-head {
  color: #d9d9d9;

  /* Body/14px: Medium */
  font-family: Red Hat Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.footer-links li {
  list-style: none;
}
.footer-links a {
  text-decoration: none;
  color: #909090;

  /* Body/14px: Regular */
  font-family: Red Hat Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer-link {
  margin-top: 25px;
  line-height: 30px;
}

.footer-terms {
  background-color: #333;
  color: #fff;
}

.footer-terms-row {
  background: #171311;
}
ul {
  padding-left: 0rem;
}

.social-icons {
  display: flex;
  gap: 15px;

  margin-top: 16px;
}

.social-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.social-icon img {
  width: 24px;
  height: 24px;
  filter: grayscale(100%);
}

.footer-terms-row {
  color: #d9d9d9;

  /* Body/14px: Medium */
  font-family: Red Hat Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 768px) {
  .footer-terms-row {
    color: #d9d9d9;

    /* Body/12px: Medium */
    font-family: Red Hat Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}
